.circle {
  background:rgba(0,0,0,0);
  border: 15px solid #E40037;
  position: absolute;
  width: 45rem;
  height: 45rem;
  line-height:100px;
  border-radius: 50%;
  box-shadow:  20px 20px 70px -35px #E40037;
  animation: animate 2s linear infinite;
}

@media (max-width: 768px) {
  .circle{
    width: 20rem;
    height: 20rem;
    border: 10px solid #E40037;
  }
}

@keyframes animate
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}